@use '../variables' as var;
@use 'bootstrap/scss/bootstrap' as bootstrap;
@use '../mixins' as mixins;

$button_background: linear-gradient(
  90deg,
  rgba(12, 110, 100, 1) 0%,
  rgba(44, 76, 129, 1) 53%,
  rgba(132, 10, 171, 1) 100%
);

@mixin transition_bounds($time) {
  transition:
    top $time,
    bottom $time,
    left $time,
    right $time,
    border-width $time / 2;
}

@mixin button($size) {
  position: relative;
  display: inline-block;
  align-self: center;
  border: none;
  background: none;
  padding: 0;

  .inner {
    position: relative;
    display: flex;
    border-style: solid;
    border-width: 0px;
    padding: 0.5em 2em;
    z-index: 3;
  }

  span {
    font-size: $size;
    color: var.$font-light;
    // vertical-align: middle;
  }

  @include bootstrap.media-breakpoint-up(lg) {
    // span {
    font-size: $size;
    // }
  }

  &::before {
    @include mixins.pseudoblock(50%);
    background: var.$background;
    z-index: 2;
    border-radius: 10px;
    @include transition_bounds((0.15s));
  }

  &::after {
    @include mixins.pseudoblock(0em);
    background: $button_background;
    z-index: 1;
    border-radius: 15px;
    @include transition_bounds((0.2s));
  }

  &:hover::before {
    @include mixins.pseudoblock(0%);
  }

  &:hover::after {
    @include mixins.pseudoblock(-5px);
    background: $button_background;
    z-index: 1;
    border-radius: 14px;
  }

  &.selected {
    &::before {
      @include mixins.pseudoblock(5px);
    }

    &::after {
      @include mixins.pseudoblock(0);
      background: $button_background;
      z-index: 1;
    }
  }

  &-appear.selected {
    &::before {
      @include mixins.pseudoblock(0);
      transition: none;
    }

    &::after {
      @include mixins.pseudoblock(-5px);
      background: $button_background;
      z-index: 1;
      border-radius: 14px;
      transition: none;
    }
  }

  &-appear-active.selected {
    &::before {
      @include mixins.pseudoblock(5px);
      @include transition_bounds((0.15s));
    }

    &::after {
      @include mixins.pseudoblock(0);
      background: $button_background;
      z-index: 1;
      @include transition_bounds((0.2s));
    }
  }
}

.small-button {
  @include button(var.$body_small);
}

.button {
  @include button(var.$body_norm);
}

.large-button {
  @include button(var.$body_large);
}
