@use '../variables' as var;
@use '../mixins' as mixins;
@use 'bootstrap/scss/bootstrap' as bootstrap;

$console_blue: #4a90e2;
$console_green: #7ed321;
$console_red: #d0021b;
$console_yellow: #f8e71c;
$console_purple: #ae81ff;
$console_light_white: #979797;
.signup-form {
  display: inline;

  input {
    all: unset;
    color: white;
    background: inherit;
  }
}
.spacer {
  height: 10em;
}

.back-card {
  background-color: #0000008a;
  padding: 0;
  h1 {
    color: var.$font_light;
    background: linear-gradient(100deg, var.$highlight-dark 20%, #004a8c);
    padding: 0.5em;
    margin: 0;

    @include bootstrap.media-breakpoint-up(md) {
      padding: 1em 2em;
    }

    @include bootstrap.media-breakpoint-up(lg) {
      padding: 1em 2em 1.5em 2em;
    }
  }
}

.overlap-up {
  position: relative;
  @include bootstrap.media-breakpoint-up(lg) {
    box-shadow: 0px 20px 100px black;
    top: -2em;
  }
}
.console,
#registration-form {
  background-color: #272822;
  font-family: var.$monospace;
  padding: 1em;
  font-size: var.$body_norm;
  max-width: 800px;
  --p-spacing3: 5px;

  @include bootstrap.media-breakpoint-up(md) {
    box-shadow: 0px 20px 100px black;
  }

  @include bootstrap.media-breakpoint-up(lg) {
    box-shadow: 0px 20px 100px black;
  }

  .blue {
    color: $console_blue;
  }

  .green {
    color: $console_green;
  }

  .red {
    color: $console_red;
  }

  .yellow {
    color: $console_yellow;
  }

  h1 {
    font-size: var.$body_large;
    font-family: var.$monospace;
    color: $console_purple;
  }
  h1::before {
    content: '# ';
    display: inline;
  }

  h2 {
    color: $console_purple;
    font-size: var.$body_large;
    font-family: var.$monospace;
  }
  h2::before {
    content: '## ';
    display: inline;
  }

  h3 {
    color: $console_purple;
    font-size: var.$body_large;
    font-family: var.$monospace;
    text-align: left;
  }
  h3::before {
    content: '### ';
    display: inline;
  }

  hr {
    width: unset;
  }

  legend {
    color: $console_yellow;
  }

  .cog-label {
    color: $console_yellow;
  }

  .cog-row {
    margin-bottom: 1.5em;
  }

  .cog-text,
  .cog-email,
  .cog-name,
  .cog-choice {
    .el-input__inner {
      all: unset;
      cursor: text;
      color: white;
      background: inherit;
      width: unset;
      &::placeholder {
        color: $console_light_white;
        font-style: italic;
      }
      &:placeholder-shown {
        border-left: 10px solid $console_light_white;
      }
    }

    .el-input {
      &::before {
        content: '➔ ';
        display: inline;
        color: $console_green;
      }

      &:focus-within::before {
        color: $console_purple;
      }
    }

    // &::after {
    //     @include mixins.pseudoblock(0);
    //     content: '\00a0\00a0▮';
    // }
    // &:focus::after {
    //     content: '';
    // }
  }

  .el-textarea {
    textarea {
      border: unset;
      color: white;
      background: inherit;
      &::placeholder {
        color: grey;
        font-style: italic;
      }
      &:placeholder-shown {
        border: 1px dashed $console_light_white;
      }
      &:focus-visible {
        outline: unset;
        border: 1px dashed $console_purple;
      }
    }

    &::before {
      content: '➔';
      display: inline;
      color: $console_green;
      margin-right: 0.5em;
    }
    &:focus-within {
      &::before {
        color: $console_purple;
      }
    }
  }

  .cog-yesno--radiobuttons,
  .cog-choice--radiobuttons,
  .cog-rating-scale {
    .el-radio__input {
      visibility: hidden;
      width: 0;
      display: inline-block;
    }
    .el-radio {
      cursor: pointer;
      &__label input {
        visibility: unset;
        width: unset;
      }
      &::before {
        content: '☐ ';
        display: inline;
      }
      &.is-checked::before {
        content: '▣ ';
        display: inline;
        color: $console_green;
      }

      &__label {
        color: $console_blue;
      }
      &:focus {
        border: unset;
      }
      &:focus-visible {
        outline: unset;
        .el-radio__label {
          color: white;
        }
        &::before {
          color: $console_purple;
        }
      }
    }
  }

  .cog-rating-scale {
    td:last-child .el-radio {
      border-right: none;
    }

    .el-radio-group:hover {
      background: #333;
    }
    .el-radio-group:has(.cog-error-message) {
      background: #392424;
    }
    .el-radio-group:has(.cog-error-message):hover {
      background: #4d2b2b;
    }

    .el-radio {
      width: 100%;
      height: 100%;
      cursor: pointer;
      border-right: 1px dashed grey;

      &::before {
        content: '○';
        display: inline;
        color: rgb(197, 197, 197);
      }
      &.is-checked::before {
        content: '⊙';
        display: inline;
        color: $console_green;
      }

      &__label {
        color: $console_blue;
      }
      &:focus {
        border: unset;
        border-right: 1px dashed grey;
      }
      &:focus-visible {
        outline: unset;

        .el-radio__label {
          color: white;
        }
        &::before {
          color: $console_purple;
        }
      }
    }
  }

  .el-checkbox {
    cursor: pointer;

    &__input {
      position: relative;
      display: block;
      width: 0;
      height: 0;
      overflow: hidden;
    }
    // input:focus {
    //     all: unset;
    // }
    &__label input {
      display: inline;
    }
    &__label::before {
      content: '▢ ';
      display: inline;
      color: white;
    }
    &__label::before {
      content: '▢ ';
      display: inline;
      color: white;
    }
    &.is-checked .el-checkbox__label::before {
      content: '▣ ';
      display: inline;
      color: $console_green;
    }
    &:focus-within {
      .el-checkbox__label {
        color: white;
        &::before {
          color: $console_purple;
        }
      }
    }

    &__label {
      color: $console_blue;
    }
  }

  .cog-payment__content-row {
    margin-bottom: 0;
    &::after {
      display: block;
      content: 'Powered by Stripe';
      text-align: end;
      width: 100%;
      font-size: var.$body_small;
    }
  }

  .cog-stripe-input {
    border-left: 0;
    background: white;
    // width: unset;
    padding: 1em;
    border-radius: 10px;
  }

  .cog-payment {
    .cog-section__inner--background {
      @include mixins.shadow();
      border-radius: 20px;
      background-color: rgb(247, 247, 247);
      color: black;
    }
  }

  .el-button {
    border: unset;
    background: inherit;
    color: $console_green;

    &::before {
      content: '>>>';
      display: inline;
    }

    &:hover,
    &:focus-visible {
      outline: unset;
      color: $console_purple;

      &:before {
        color: $console_green;
      }

      &:after {
        content: '⏎';
        display: inline;
      }
    }
    // &:hover::after, &:focus-visible::after {
    //     color: $console_purple;
    // }
  }
  .cog-error-message {
    color: $console_red;
    background-color: inherit;
    font-size: var.$body_norm;
  }

  .cog-row:empty {
    display: none;
  }

  .cog-branding {
    display: none;
  }

  .cog-abuse {
    display: none;
  }
}
