@use 'bootstrap/scss/bootstrap' as bootstrap;
@use '../mixins';

.about {

    .row {
        padding-bottom: 4em;
    }
    
    h2, p {
        text-align: center;
    }

    .img {
        max-width: 80%;
        margin: 3em;
        > div {
            @include mixins.shadow;
        }
    }

    @include bootstrap.media-breakpoint-up(lg) {
        .about_align_right {
            text-align: right;
        }

        .about_align_left {
            text-align: left;
        }
    }
}