@use '../variables' as var;
@use 'bootstrap/scss/bootstrap' as bootstrap;

@mixin button($size) {
    display: inline;
    align-self: center;
    background-color: var.$highlight;
    border-style: solid;
    border-color: var.$highlight;
    border-radius: 10px;
    border-width: 5px;
    padding: 0.5em 2em;
    transition: background-color 0.2s;

    span {
        font-size: var.$body_large;
        color: var.$font-light;
    }

    @include bootstrap.media-breakpoint-up(lg) {
        align-self: flex-start;
        span {
            font-size: $size;
        }
    }

    &:hover {
        background-color: var.$background500;
    }
}

.button {
    @include button(var.$body_norm);
}

.large-button {
    @include button(var.$text_med);

}