@use '../variables' as var;
@use '../mixins';
@use 'bootstrap/scss/bootstrap' as bootstrap;


.msg-card {
    @include mixins.shadow;
    align-self: center;
    background-color: var.$background600;
    border-style: solid;
    border-color: var.$highlight;
    border-radius: 10px;
    border-width: 5px;
    padding: 1em 4em;

    span {
        font-size: var.$body_large;
        color: var.$font-light;
    }

    @include bootstrap.media-breakpoint-up(lg) {
        align-self: flex-start;
        span {
            font-size: var.$body_large;
            color: var.$font-light;
        }
    }
}