$highlight_light: #b157ff;
$highlight: #9f30ff;
$highlight_dark: #4c1979;

$background0: #f0f0f0;
$background100: #a5a5a5;
$background200: #787878;
$background300: #4b4b4b;
$background400: #1e1e1e;
$background500: #1b1b1b;
$background600: #151515;
$background700: #0f0f0f;
$background800: #090909;
$background900: #030303;

$background_light: $background0;
$background: $background400;

$background-transparent: rgba(30, 30, 30, 0.7);

$font-light: #f9f9f9;
$font-dark: #1e1e1e;

$text_base: 16px;
$text_xlarge: 3.5rem;
$text_large: 2.5rem;
$text_med: 2rem;
$body_large: 1.5rem;
$body_norm: 1rem;
$body_small: 0.8rem;
$body_tiny: 0.6rem;

$weight_normal: 400;
$weight_light: 100;
$weight_bold: 700;

$font_family_body: "Montserrat", Segoe UI, sans-serif;
$font_family_heading: "Quicksand", "Segoe UI", sans-serif;
