$background: #1E1E1E;
$highlight: #9F30FF;

$background400: $background;
$background500: #030303;
$background600: #090909;
$background700: #0f0f0f;
$background800: #151515 ;
$background900: #1b1b1b;

$background-transparent: rgba(30, 30, 30, 0.7);

$font-light: #F9F9F9;
$font-dark: #1E1E1E;

$text_base: 16px;
$text_xlarge: 4rem;
$text_large: 3rem;
$text_med: 2rem;
$body_large: 1.5rem;
$body_norm: 1rem;
$body_small: 0.8rem;

$weight_normal: 400;
$weight_light: 100;
$weight_bold: 700;

$font_family_body: "Montserrat", Segoe UI, sans-serif;
$font_family_heading: "Quicksand", "Segoe UI", sans-serif;